
.header {
    width: 100%;
    position: fixed;
    background: var(--black);
    color: var(--white);
    z-index: 10;
    padding: 20px 0px;
}

.header-mobile {
    display: flex;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 4px;
    position: relative;
    z-index: 2;
}

.header-logo-text {
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.36px;
    color: var(--white);
}

.header-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
}

.header-list {
    display: flex;
}

.burger {
    display: none;
}

/*MOBILE*/
@media screen and (max-width: 767px) {
    .header {
        padding: 29px 0px;
    }

    .header-mobile {
        max-width: 767px;
        padding: 0 20px;
    }

    .header-navigation {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        min-height: 100vh;
        background: var(--dark-green);
        transition: 600ms var(--cubic);
        transform: translate(0%, -100%);
        z-index: 1;
    }

    .header-navigation.is-open {
        transform: translate(0%, 0%);
    }

    .header-list {
        flex-direction: column;
        justify-content: center;
        gap: 14px;
        color: var(--white);
    }

    .header-link {
        display: block;
        text-align: center;
        color:var(--white);
        transition: var(--cubic);
    }

    .underline {
        position: relative;
        display: inline-block;
        width: auto;
    }
    
    .underline:before {
        content: '';
        width: 100%;
        height: 1px;
        background: var(--white);
        opacity: 0.7;
        position: absolute;
        top: 95%;
        right: 0px;
        left: auto;
        width: 0%;
        transition: width 250ms var(--cubic);
    }
    
    .underline:hover:before,
    .underline:focus:before {
        width: 100%;
        right: auto;
        left: 0px;
    }

    .header-contact-phone {
        display: none;
    }

    .img-logo {
        width: 14px;
        height: 14px;
    }

    .header-logo {
        margin-right: auto;
    }

    .header-logo-text {
        font-weight: 400;
        font-size: 12px;
        line-height: 1;
        letter-spacing: -0.36px;
        color: var(--white);
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'epilogue';
    }


    .burger .burger-svg {
        display: block;
    }

    .burger .close-svg {
        display: none;
    }

    .burger.is-open .burger-svg {
        display: none;
    }

    .burger.is-open .close-svg {
        display: block;
    }

    .burger {
        display: flex;
        align-items: center;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translate(0%, -50%);
        z-index: 3;
        background-color: transparent;
        border: none;
        fill: var(--white);
        cursor: pointer;
        transition: var(--cubic);
    }

    .burger:hover{
        background-color: var(--dark-green);
        border-radius: 2px;
    }
}

/*TABLET*/
@media screen and (min-width: 768px) {

    .header{
        padding: 34px 32px 80px;
    }
    .header-list {
        display: flex;
        gap: 40px;
        color: var(--white);
    }

    .img-logo {
        width: 19px;
        height: 19px;
        left:32px;
    }

    .header-logo {
        margin-right: 80px;
    }

    .header-link {
        font-weight: 400;
        font-size: 9px;
        line-height: 1.3;
        text-align: center;
        padding: 10px 0px;
        text-transform: uppercase;
        color: var(--white);
    }

    .header-contact-phone {
        font-weight: 400;
        font-size: 9px;
        line-height: calc(12 / 9);
        text-align: center;
        text-transform: uppercase;
        color: var(--white);
        transition: var(--cubic);
    }

    .mobile-list {
        display: none;
    }

    .underline {
        position: relative;
        display: inline-block;
        width: auto;
    }

    .underline:before {
        content: '';
        width: 100%;
        height: 1px;
        background: var(--white);
        opacity: 0.7;
        position: absolute;
        top: 65%;
        right: 0px;
        left: auto;
        width: 0%;
        transition: width 250ms var(--cubic);
    }

    .underline:hover:before,
    .underline:focus:before {
        width: 100%;
        right: auto;
        left: 0px;
    }

    .button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        line-height: calc(14 / 12);
        font-weight: normal;
        padding: 17px 35px;
        border-radius: 8px;
        border: 1px solid var(--dark-green);
        background: var(--dark-green);
        color: var(--white);
        text-transform: uppercase;
        transition: 250ms var(--cubic);
        cursor: pointer;
        flex-wrap: wrap;
    }
    
    .button:hover,
    .button:focus {
        border: 1px solid var(--white);
    }
    
    .button:disabled {
        opacity: 0.5;
        cursor: auto;
        pointer-events: none;
    }
    
    .button.button--full {
        width: 100%;
    }

}

/*DESKTOP*/
@media screen and (min-width: 1280px) {

    .header{
        padding: 34px 132px 95px;
    }
    .header-logo-text {
        font-size: 15px;
    }


}